{% extends 'base.html.twig' %}

{% block title %}New Ciudad{% endblock %}

{% block body %}
    <h1>Create new Ciudad</h1>

    {{ include('ciudad/_form.html.twig') }}

    <a href="{{ path('app_ciudad_index') }}">back to list</a>
{% endblock %}
