{% extends 'base.html.twig' %}

{% block title %}Nueva Ciudad{% endblock %}

{% block titlewrap %}
    Nueva Ciudad
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_ciudad_index') }}">Ciudades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Ciudad</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {#<div class="card-header"><div class="card-title">Quick Example</div></div>#}

            {{ include('ciudad/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
