{% extends 'base.html.twig' %}

{% block title %}Nueva Cirugia{% endblock %}

{% block titlewrap %}
    Nueva Cirugia
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_cirugia_index') }}">Cirugias</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Cirugia</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('cirugia/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
