{% extends 'base.html.twig' %}

{% block title %}Edit Vitales{% endblock %}

{% block body %}
    <h1>Edit Vitales</h1>

    {{ include('vitales/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vitales_index') }}">back to list</a>

    {{ include('vitales/_delete_form.html.twig') }}
{% endblock %}
