{% extends 'base.html.twig' %}

{% block title %}Editar Habitacion{% endblock %}

{% block titlewrap %}
    Editar Habitacion
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_habitacion_index') }}">Habitaciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Habitacion</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('habitacion/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
