{% extends 'base.html.twig' %}

{% block title %}Nueva Cama{% endblock %}

{% block titlewrap %}
    Nueva Cama
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_hospitalizacioncama_index') }}">Camas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Cama</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('cama_hospitalizacion/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
