{% extends 'base.html.twig' %}

{% block title %}Editar Discapacidad{% endblock %}

{% block titlewrap %}
    Editar Discapacidad
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_discapacidades_index') }}">Discapacidades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Discapacidad</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('discapacidades/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
