{% extends 'base.html.twig' %}

{% block title %}Nueva Inmunizacion{% endblock %}

{% block titlewrap %}
    Nuevo Inmunizacion
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_inmunizaciones_index') }}">Inmunizaciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Inmunizacion</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('inmunizaciones/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
