{% extends 'base.html.twig' %}

{% block title %}Editar Tratamiento{% endblock %}

{% block titlewrap %}
    Editar Tratamiento
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_tratamientos_index') }}">Tratamientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Tratamiento</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">

            {{ include('tratamientos/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
