{% extends 'base.html.twig' %}

{% block title %}Edit Tratamientos{% endblock %}

{% block body %}
    <h1>Edit Tratamientos</h1>

    {{ include('tratamientos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tratamientos_index') }}">back to list</a>

    {{ include('tratamientos/_delete_form.html.twig') }}
{% endblock %}
