{% extends 'base.html.twig' %}

{% block title %}Nuevo Tratamiento{% endblock %}

{% block titlewrap %}
    Nuevo Tratamiento
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_tratamientos_index') }}">Tratamientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Tratamiento</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('tratamientos/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
