{% extends 'base.html.twig' %}

{% block title %}Editar Paciente{% endblock %}

{% block titlewrap %}
    Editar Paciente
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_paciente_index') }}">Pacientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Paciente</li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card card-primary card-outline mb-4">

            {{ include('paciente/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
