{% extends 'base.html.twig' %}

{% block title %}Nueva Condicion{% endblock %}

{% block titlewrap %}
    Nueva Condicion
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_condiciones_index') }}">Condiciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Condicion</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('condiciones/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
