{% extends 'base.html.twig' %}

{% block title %}Nuevo Medicamento{% endblock %}

{% block titlewrap %}
    Nuevo Medicamento
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_medicamentos_index') }}">Medicamentos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Medicamento</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('medicamentos/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
