{% extends 'base.html.twig' %}

{% block title %}New Medicamentos{% endblock %}

{% block body %}
    <h1>Create new Medicamentos</h1>

    {{ include('medicamentos/_form.html.twig') }}

    <a href="{{ path('app_medicamentos_index') }}">back to list</a>
{% endblock %}
