<form method="post" action="{{ path('app_empleado_delete', {'id': empleado.id}) }}" onsubmit="return confirm('Seguro de eliminar el registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleado.id) }}">
    <button class="btn">Eliminar</button>
</form>
