{% extends 'base.html.twig' %}

{% block title %}Editar Usuarios{% endblock %}

{% block body %}
    <h1>Editar Usuarios</h1>

    {{ include('empleado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_empleado_index') }}">Volver a la Lista</a>

    {{ include('empleado/_delete_form.html.twig') }}
{% endblock %}
