{% extends 'base.html.twig' %}

{% block title %}Usuarios Nuevos{% endblock %}

{% block body %}
    <h1>Crear Usuario</h1>

    {{ include('empleado/_form.html.twig') }}

    <a href="{{ path('app_empleado_index') }}">Volver</a>
{% endblock %}
