<table class="table table-striped dtHere" id="bedTable" data-order='[[ 0, "desc" ]]'>
    <thead>
    <tr>
        <th>Ingreso</th>
        <th>Paciente</th>
        <th>Evaluado</th>
        <th>Prioridad</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody data-mercure-er-target="bedTableBody">
    {% for emergencia in emergencias['WAITING_BED'] %}
        {{ include('emergencia/tableRows/_new_triage_table.row.html.twig') }}
    {% endfor %}
    </tbody>
</table>
