{% extends 'base.html.twig' %}

{% block title %}Editar Zona{% endblock %}

{% block titlewrap %}
    Editar Zona
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_zona_cama_index') }}">Zonas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Zona</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('zona_cama/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
