{% extends 'base.html.twig' %}

{% block title %}Nuevo Alergeno{% endblock %}

{% block titlewrap %}
    Nuevo Alergeno
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_alergenos_index') }}">Alergenos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Alergeno</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('alergenos/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
