{% extends 'base.html.twig' %}

{% block title %}Edit Alergias{% endblock %}

{% block body %}
    <h1>Edit Alergias</h1>

    {{ include('alergias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_alergias_index') }}">back to list</a>

    {{ include('alergias/_delete_form.html.twig') }}
{% endblock %}
