{% extends 'base.html.twig' %}

{% block title %}Editar Alergia{% endblock %}

{% block titlewrap %}
    Editar Alergia
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_alergias_index') }}">Alergias</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Alergia</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">

            {{ include('alergias/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
