{% extends 'base.html.twig' %}

{% block title %}Nueva Alergia{% endblock %}

{% block titlewrap %}
    Nueva Alergia
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_alergias_index') }}">Alergias</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Alergia</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('alergias/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
