{% extends 'base.html.twig' %}

{% block title %}Edit PacienteDiscapacidades{% endblock %}

{% block body %}
    <h1>Edit PacienteDiscapacidades</h1>

    {{ include('paciente_discapacidades/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paciente_discapacidades_index') }}">back to list</a>

    {{ include('paciente_discapacidades/_delete_form.html.twig') }}
{% endblock %}
