{% extends 'base.html.twig' %}

{% block title %}Nueva Especialidad{% endblock %}

{% block titlewrap %}
    Nueva Especialidad
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_especialidades_index') }}">Especialidades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Especialidad</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('especialidades/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
