{% extends 'base.html.twig' %}

{% block title %}Nuevo Artículo{% endblock %}

{% block titlewrap %}
    Nuevo Artículo
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_articulo_index') }}">Artículo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Artículo</li>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card card-primary card-outline mb-4">
            {{ include('articulo/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
