{% extends 'base.html.twig' %}

{% block title %}Editar Enfermedad{% endblock %}

{% block titlewrap %}
    Editar Enfermedad
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_enfermedades_index') }}">Enfermedades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Enfermedad</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">

            {{ include('enfermedades/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
{% endblock %}
