{% extends 'base.html.twig' %}

{% block title %}Nueva Enfermedad{% endblock %}

{% block titlewrap %}
    Nueva Enfermedad
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_enfermedades_index') }}">Enfermedades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nueva Enfermedad</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            {{ include('enfermedades/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
